doctype html
html
	head
		title Main page
		link(rel='stylesheet', href='lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='lib/bootstrap/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='lib/joint/css/joint.min.css')
		link(rel='stylesheet', href='css/index.css')
		script(src='lib/requirejs/js/require.js', data-main='js/main.js')
body
	#paper
	#top-utils
		#mode.btn-group(data-toggle='buttons')
			label.btn.btn-default.active
				input(type='radio', name='mode', autocomplete='off', value='edit', checked)
				| Edit
			label.btn.btn-default
				input(type='radio', name='mode', autocomplete='off', value='element')
				| Add
			label.btn.btn-default
				input(type='radio', name='mode', autocomplete='off', value='link')
				| Link
		#type.btn-group(data-toggle='buttons')
			label.btn.btn-default.active
				input(type='radio', name='type', autocomplete='off', value='task', checked)
				| Task
			label.btn.btn-default
				input(type='radio', name='type', autocomplete='off', value='system')
				| System
		#algo.btn-group
			//button.btn.btn-primary(type='button', data-algo='1') 1
			button.btn.btn-primary(type='button', data-algo='2') 2
			//button.btn.btn-primary(type='button', data-algo='7') 7
			button.btn.btn-primary(type='button', data-algo='9') 9
			//button.btn.btn-primary(type='button', data-algo='10') 10
			button.btn.btn-primary(type='button', data-algo='11') 11
			//button.btn.btn-primary(type='button', data-algo='16') 16
			//button.btn.btn-primary(type='button', data-algo='17') 17
		.btn-group
			button.btn.btn-primary#check(type='button') Check
		.btn-group
			button.btn.btn-info#generate(type='button') Generate
		.btn-group
			button.btn.btn-success#save(type='button') Save
		.btn-group(style='position: relative;')
			button.btn.btn-primary(type='button') Load
			input#load(type='file')
		.btn-group
			button.btn.btn-danger#clear(type='button') Clear

	#editor
		a.close &times;
		form.container-fluid#editor-form
			.row.edit.entity
				.col-xs-12
					.form-group
						label Title
						input#title.input-sm.form-control(type='text', name='title')
			.row.edit.entity
				.col-xs-12
					.form-group
						label Description
						input#descr.input-sm.form-control(type='text', name='descr')
			.row.edit.link
				.col-xs-12
					.form-group
						label Label
						input#label.input-sm.form-control(type='text', name='label')
			.row
				.col-xs-12
					.form-group
						button.btn.btn-block.btn-primary(type='submit') Save
						button.remove.btn.btn-block.btn-danger(type='button') Remove

	#generate-box
		form.container-fluid#generate-form
			.row
				.col-xs-12
					.form-group
						label Min Weight
						input.input-sm.form-control(type='number', min='1', name='minWeight', value='1')
			.row
				.col-xs-12
					.form-group
						label Max Weight
						input.input-sm.form-control(type='number', min='1', name='maxWeight', value='5')
			.row
				.col-xs-12
					.form-group
						label Num Vertices
						input.input-sm.form-control(type='number', min='1', name='numVertices', value='10')
			.row
				.col-xs-12
					.form-group
						label Correlation
						input.input-sm.form-control(type='number', step='0.1', min='0', max='1', name='correlation', value='0.9')
			.row
				.col-xs-12
					.form-group
						label Min Link Weight
						input.input-sm.form-control(type='number', min='1', name='minLinkWeight', value='1')
			.row
				.col-xs-12
					.form-group
						button.btn.btn-block.btn-primary(type='submit') Generate