a.close &times;
form.container-fluid#editor-form
	.row.edit.entity
		.col-xs-12
			.form-group
				label Number
				input#title.input-sm.form-control(type='text', name='title')
	.row.edit.entity
		.col-xs-12
			.form-group
				label Weight
				input#descr.input-sm.form-control(type='text', name='descr')
	.row.edit.link
		.col-xs-12
			.form-group
				label Weight
				input#label.input-sm.form-control(type='text', name='label')
	.row
		.col-xs-12
			.form-group
				button.btn.btn-block.btn-warning(type='submit') Save
				button.remove.btn.btn-block.btn-warning(type='button') Remove