html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

sup {
	display: none;
}

#papers {
	height: 100%;
	/*padding-top: 50px;*/
    /*height: 1366px;*/
    z-index: 1;
    /*margin: 40px 0;*/
    border: 1px solid #eee;
    top: 20px;
    background: #2e2e2e;
	.clear {
		position: absolute;
		bottom: 0;
        left: 0;
		width: 100%;
		border: 2px solid #888;
	}
}

#taskPaper,
#systemPaper {
    top: 70px;
    height: 100%;
	z-index: 1;
	border: 2px solid #888;
	position: relative;
	&:after {
		content: attr(data-name);
		display: inline-block;

		position: absolute;
		top: 0;
		left: 0;
        color: #ddd;
		font-size: 30px;
		font-weight: bold;
		border: 2px solid #888;
	}
}

#systemPaper {
	.marker-target,
	.marker-source,
	.labels {
		display: none;
	}
}

#generate-box {
	width: 300px;
	min-height: 100px;
	position: absolute;
	background: #afafaf;
	bottom: 0;
	right: 0;
	z-index: 2;
	padding: 10px 0 0;
	display: none;

	&.visible {
		display: block;
	}
}
#editor {
    top: 70px;
    right: 0;
    width: 300px;
    min-height: 100px;
    position: absolute;
    background: #555;
    color: #ffffff;
    border 3px solid #ddd;
    z-index: 2;
    display: none;
    padding: 10px 0 0;

	&.shown {
		display: block;
	}

	.close {
		position: absolute;
		z-index: 3;
		top: 5px;
		right: 5px;
	}

	.edit {
		display: none;
	}

	&.edit-link {
		.link {
			display: block;
		}
	}

	&.edit-entity {
		.entity {
			display: block;
		}
	}
}

#top-utils {
  top: 0;
  position: absolute;
  display : flex;
  justify-content: left;
  background: #FFFFFF;
  width: 100%;
  padding: 5px 10px;
  text-align: right;

  .btn-group {
    margin: 5px 10px;
  }
}
/*#top-utils {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*background: #807752;*/
	/*width: 100%;*/
	/*padding: 10px;*/
	/*text-align: center;*/

	/*.btn-group {*/
		/*margin: 0 5px;*/
	/*}*/
/*}*/

#load {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
}

.link-tools,
.marker-arrowheads {
	display: none;
}

#mpp-inner,
#mpp-box > .row {
	background: #fff;
	color: #000;
}

#stat-box,
#mpp-box {
	display: none;
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: #fff;

	padding: 20px;

	&.visible {
		display: block;
	}
}

svg {
	height: 100%;
	width: 100%;
}

img {
  width: 36px;
  height: 36px;
}