html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#papers {
	height: 100%;
	padding-top: 50px;
}

#taskPaper,
#systemPaper {
	height: 100%;
	z-index: 1;
	border: 5px dashed #ccc;
	position: relative;
	&:after {
		content: attr(data-name);
		display: inline-block;

		position: absolute;
		top: 0;
		left: 0;
		font-size: 30px;
		font-weight: bold;
		border: 2px dashed #eee;
	}
}

#systemPaper {
	.marker-target,
	.marker-source,
	.labels {
		display: none;
	}
}

#generate-box {
	width: 300px;
	min-height: 100px;
	position: absolute;
	background: #6278ff;
	top: 70px;
	right: 0;
	z-index: 2;
	padding: 10px 0 0;
	display: none;

	&.visible {
		display: block;
	}
}
#editor {
	width: 300px;
	min-height: 100px;
	position: absolute;
	background: #5affcc;
	top: 20px;
	right: 0;
	z-index: 2;
	display: none;
	padding: 10px 0 0;

	&.shown {
		display: block;
	}

	.close {
		position: absolute;
		z-index: 3;
		top: 5px;
		right: 5px;
	}

	.edit {
		display: none;
	}

	&.edit-link {
		.link {
			display: block;
		}
	}

	&.edit-entity {
		.entity {
			display: block;
		}
	}
}

#top-utils {
	position: absolute;
	top: 0;
	left: 0;
	background: #807752;
	width: 100%;
	padding: 10px;
	text-align: center;

	.btn-group {
		margin: 0 5px;
	}
}

#load {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
}

.link-tools,
.marker-arrowheads {
	display: none;
}

#mpp-box {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: #fff;

	padding: 20px;

	&.visible {
		display: block;
	}
}

svg {
	height: 100%;
	width: 100%;
}